@import url('https://fonts.googleapis.com/css2?family=Anton&family=Boldonse&family=Funnel+Sans:ital,wght@0,300..800;1,300..800&family=Manrope:wght@200..800&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


* {
    padding: 0;
    margin: 0;
}

.logo  {
   font-weight: 500;
   font-size: 25px;
   color: #ff8800;
}


.carousel-item img {
      width: 100%;
      height: 70vh; 
      object-fit: cover; 
    }

    
.carousel-overlay {
      background-color: rgba(0, 0, 0, 0.4);
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 70vh;
    }

    
.carousel-caption-left {
      position: absolute;
      top: 50%;
      left: 15%;
      transform: translateY(-50%);
      text-align: left;
      padding: 20px;
      
    }

.container-header {
    display: flex;
    justify-content: space-between;
    margin: 15px 230px 15px 230px;
    align-items: center;
}

.btn-color {
    background-color: #ff4500;
    color: #fff;
    padding: 13px 20px 13px 20px;
    border-radius: 11px;
    border: 1px solid transparent;
    font-weight: 600;
}

.btn-color:hover {
    background-color: transparent;
    border: 1px solid;
}

.btn-custom {
      border-radius: 0.5rem;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      transition: all 0.3s ease-in-out;
      border: 2px solid transparent; /* Adiciona uma borda transparente por padrão para evitar o "salto" */
     
    }

.btn-custom:hover {
      transform: translateY(-2px);
      box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
      background-color: transparent; /* Torna o fundo transparente no hover */
      border-color: #ffffff; /* Adiciona a borda branca no hover */
    }
    
    /* Classe para o laranja de bombeiro */
.text-firefighter-orange {
      color: #ff4500;
    }

.link-menu{
    text-decoration: none;
    color: #333;
}

.link-menu:hover {
    color: #ff8800;
}


.container-menu {
    display: flex;
    gap: 60px;
}

.menu-geral {
    margin: 0 180px 0 180px;
}

.container-produtos {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    padding: 20px;
    margin: 60px 0 60px 0;
}

.card {
    display: flex;
    width: 300px;
    height: 300px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    align-items: center;
    justify-content: center;
}

.card h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.card-text {
    font-size: 1rem;
    text-align: center;
    color: #555;
}

.btn-saibamais {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ff8800;
    border: 1px solid #ff8800;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
   
}

.btn-saibamais:hover {
    background-color: transparent;
    color: #ff8800;
    border: 1px solid #ff8800;
}

.certificacoes-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    flex-direction: column;
}

.certificacoes-container h2 {
    font-size: 2rem;
    margin-bottom: 10px;
    text-align: center;
}


.swiper {
      width: 100%;
      height: 100%;
    }

    .swiper-slide {
      text-align: center;
      font-size: 18px;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0 60px 0 60px;
    }

    .swiper-slide img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .swiper-container {
      display: flex;
      align-items: center;
      margin: 0 210px 0 210px;
    }

    .frase-container {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 60px;
        background-color: #3d3d3d; 
        margin-top: 5%;
    }

    .frase-content {
        font-family: "Funnel Sans", sans-serif;
        font-weight: 400;
        font-style: italic;
        line-height: 1.5;
        max-width: 800px;
        text-align: center;
        font-size: 1.2rem;
        color: #ffffff;
    }
.laudos-container {
    display: flex;
    margin: 0px 200px 60px 200px;
    align-items: center;
    justify-content: center;
    gap: 20px;
    
}

.laudos-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px; 
  padding: 20px;
  cursor: pointer;
}

.laudos-grid > div {
  padding: 15px;
  border-radius: 8px;
  text-align: justify;
  background-color: #e6e6e6;
}

.laudos-grid:hover > div:hover {
  box-shadow: #979797 0px 0px 10px;
}

.laudos-titulos {
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 10px;
    margin-top: 60px;
}

.laudos-titulos h2 {
    font-size: 2rem;
    margin-bottom: 10px;
    text-align: center;
}

.laudos-titulos p {
    font-size: 1rem;
    text-align: center;
    color: #555;
}

.footer {
    background-color: #333;
    color: white;
    padding: 20px;
    position: relative;
    bottom: 0;
    width: 100%;
}

.linha-footer {
    border-top: 1px solid #ff8800;
    margin: 20px 0;
}

.footer-assinatura {
    color: #fff;
    background-color: #4e4e4e;
    padding: 40px 0 40px 0;
    
}

.link-assinatura-footer {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.footer-assinatura a {
  color: #fff !important;
  text-decoration: none !important;
}

.footer-assinatura a:hover {
  color: #fff !important;
  text-decoration: none !important;
}

.logo-footer {
    width: 90px;
    height: auto;
    background-color: #f0f0f0;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
